.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background: rgb(34,193,195); */
    /* background: linear-gradient(0deg, rgba(34,148,195,1) 0%, rgba(83,108,210,0.9615196420365021) 100%); */
    background-color: #1464a9;
    height: 70px;
   
}

.navlogo {
    font-size: 33px;
    margin-left: 20px;
    color: white;
    justify-self: left;
    align-self: center;
    font-family: 'Dancing Script', cursive;
}
.button {
    justify-self: left;
    padding: 15px 32px;
    margin: .7vh;
    color: #fff;
    font-weight: bolder;
    font-size: 19px;
    border-style: none;
    border-radius: 18px;
    background-image: linear-gradient(rgba(250, 201, 145, 0.233), rgba(139, 91, 43, 0.938)150%);
    cursor: pointer;
}