.download {
  display: grid;
  place-self: center;
}

.download a{
  position: fixed;
  bottom: 10%;
  right: 10%; 
  background-color: #1464a9;
  border-radius: 10px;
  text-decoration: none; 
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* font-family: 'Monserrat'; */
  /* text-transform: uppercase; */
}

@keyframes dwn-button-grow {
    from {
      transform: scale(1.0,1.0);
    }
    to {
      transform: scale(1.25,1.25);
    }    
}