.cardContainer {
  width: 75%;
  max-width: 600px;
  place-self: center;
}

.card {
  min-height: 400px;
  border: 6pt solid white;
  position: relative;
}

.card-text {
  display: inline-block;
  letter-spacing: 0.03rem;
  /* text-align: center;
  justify-items: center; */
}
.icon {
  /* text-align: center; */
  font-size: 26pt;
  color: #313D45;
}
.icon-glass {
  /* text-align: center; */
  font-size: 80pt;
  color: #313D45;
}

.draggableEl {
  display: flex;
  position: relative;
  /* width: auto; */
  height: 100%;
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.draggableEl div, 
.draggableEl h1 {
  /* position: absolute;
  left: 50%;
  right: -50%; */
  /* width: fit-content; */
}

.draggableEl div.icon {
  /* top: 40%; */
}

.draggableEl div.icon-glass {
  /* top: 50%; */
}


.react-draggable-dragging {
  border: 1pt solid #5972e9;
}