.tools {
    /* background-color: #bad5eb;  */
    /* background-color: #D2ECFE; */
    background-color: #F6FAFD; 
    font-family: 'Monserrat';
}

.accordion__title {
    cursor: pointer;
    text-align: left;
}

.accordion__inner {
    max-height: 0;
    transition: max-height 0.15s ease-out;
}

.accordion-wrap:last-child .accordion__inner:last-child {
    /* border-bottom: 1px dashed; */
}

.accordion__inner.show {
    max-height: 300px;
    transition: max-height 0.25s ease-in;
}

.accordion__inner > div{
    height: 50px;
    /* color: #fff; */
    color: #3899EC;  
    font-size: 20px;
    /* text-transform: uppercase; */
    /* text-align: center; */
    vertical-align: middle;
    line-height: 2.5;
    border-right: 1px solid;
    cursor: pointer;
    margin-left: 20px; 
   
}

@keyframes slide {
    0% {
        transform: translateY(-50%) scaleY(0);
    }
    100%{
        transform: translateY(0) scaleY(1);
    }
}

.accordion__section:last-child .showText {
    /* border-bottom: 1px solid ; */
}

.accordion__section button {
    width: 100%;
    /* background-color: #03a9f4; */
    /* background-color: #D2ECFE; */
    background-color: #F6FAFD;
    /* border: 1px solid; */
    color: #1464a9;
    /* text-transform: uppercase; */
    font-size: 22px;
    font-weight: 600px;
    
}