.tools {
    background-color: #bad5eb;
}

.accordion__title {
    cursor: pointer;
}

/* .accordion__section > div.hidden {
    height: 0;
    overflow: hidden;
    transition: all .25s;
} */

.accordion__inner {
    max-height: 0;
    overflow: hidden;
    transition: all .7s;
}

.accordion-wrap:last-child .accordion__inner:last-child {
    border-bottom: 1px dashed blue;
}

.accordion__inner.show {
    overflow: visible;
    max-height: 300px;
}

.accordion__inner > div{
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
    border-right: 1px solid blue;
    cursor: pointer;
}

@keyframes slide {
    0% {
        transform: translateY(-50%) scaleY(0);
    }
    100%{
        transform: translateY(0) scaleY(1);
    }
}

.accordion__section:last-child .showText {
    border-bottom: 1px solid #03a9f4;
}

.accordion__section button {
    width: 100%;
    background-color: #03a9f4;
    border: 1px solid blue;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600px;
}